/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0; /* ページの背景色を灰色に設定 */
    padding: 20px;
}

/* ストップウォッチのスタイル */
.stopwatch {
    margin: 0 auto;
    width: 250px; /* ストップウォッチコンテナの幅を調整 */
    background-color: #fff; /* ストップウォッチコンテナの背景色を白に設定 */
    padding: 20px;
    border-radius: 10px; /* 角丸のボーダーを追加 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* ドロップシャドウを追加 */
}

/* 時間表示のスタイル */
.time {
    font-size: 36px;
    font-weight: bold; /* 太字のフォント */
}

/* コントロールボタンのスタイル */
.controls {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none; /* ボーダーを削除 */
    cursor: pointer; /* ホバーカーソル */
}

/* スタートボタンのスタイル */
#startButton {
    background-color: blue !important; /* 青 */
    color: white !important; /* ボタンのテキストを白色に */
}

/* ストップボタンのスタイル */
#stopButton {
    background-color: red !important; /* 赤 */
    color: white !important; /* ボタンのテキストを白色に */
}

/* リセットボタンのスタイル */
#resetButton {
    background-color: yellow !important; /* 黄色 */
    color: black !important; /* ボタンのテキストを黒色に */
}
