body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.stopwatch {
    margin: 50px auto;
    width: 200px;
}

.time {
    font-size: 36px;
}

.controls {
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
}

/* スタートボタンのスタイル */
#startButton {
    background-color: blue; /* 青 */
    color: white; /* ボタンのテキストを白色に */
}

/* ストップボタンのスタイル */
#stopButton {
    background-color: red; /* 赤 */
    color: white; /* ボタンのテキストを白色に */
}

/* リセットボタンのスタイル */
#resetButton {
    background-color: yellow; /* 黄色 */
    color: black; /* ボタンのテキストを黒色に */
}
